In [2]:
from collections import Counter
from scipy.stats import norm
from scipy.stats import t
import pandas as pd
import numpy as np
import math

# Question 2 :

In [11]:
m = 215
n = 25
alpha = 0.05

In [12]:
std_err = 10/math.sqrt(n)
zval = norm.ppf(1 - alpha / 2)
h1 = std_err * zval

In [13]:
m - h1

211.0800720309199

In [14]:
m + h1

218.9199279690801

# Question 3 :

In [15]:
confidence = 0.99
m = 2.88
n = 25
std_dev = 1.59

In [16]:
std_err = std_dev/math.sqrt(n)

In [17]:
h = std_err * t.ppf((1 - confidence) / 2, n - 1)

In [18]:
m - h

3.7694267625177513

In [19]:
m + h

1.9905732374822482

# Question 4 :

In [3]:
df1 = pd.read_excel('/media/abhishek/589E61B39E618A782/C-DAC Document/Advanced Analytics/Assignment/Datasets/Consumer Transportation Survey.xlsx', skiprows = 2)

In [4]:
df1.head(10)

,Vehicle Driven,Type,Satisfaction with vehicle,Gender,Age,# of hours per week in vehicle,Miles driven per week,NumberOfChildren,Average number of riders,Miles from work,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Truck,Domestic,Yes,Male,31.0,10.0,450.0,0.0,1.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Truck,Domestic,Yes,Male,29.0,5.0,370.0,1.0,1.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Truck,Foreign,No,Male,26.0,12.0,580.0,0.0,1.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Truck,Domestic,No,Male,18.0,6.0,300.0,0.0,1.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUV,Domestic,Yes,Male,49.0,21.0,1000.0,0.0,1.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SUV,Foreign,Yes,Male,50.0,16.0,840.0,2.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SUV,Domestic,Yes,Male,48.0,15.0,1400.0,3.0,4.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,SUV,Foreign,Yes,Male,45.0,5.0,300.0,2.0,2.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SUV,Domestic,Yes,Male,45.0,15.0,850.0,0.0,1.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SUV,Domestic,Yes,Male,44.0,10.0,700.0,2.0,1.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1st Part :

In [5]:
alpha=0.05
zval=norm.ppf(1-alpha/2)
len1=len(df1.iloc[:,2]=="Yes")
n=len(df1)
prop1=len1/n
pval=zval*math.sqrt(prop1*(1-prop1)/len1)
print(prop1-pval)
print(prop1+pval)

1.0
1.0

## 2nd Part :

In [23]:
#no_of_chi = df.loc[(df.iloc[:,7] >= 1)]

In [24]:
#no_of_chi.count()
len2=len(df1[df1.iloc[:,7]>=1]==True)
prop2=len2/n
pval=zval*math.sqrt(prop2*(1-prop2)/len2)
print(prop2-pval)
print(prop2+pval)

0.3411407185743016
0.7176828108374631

In [25]:
#propo_of_at_least_one_children = 27 / Total

In [9]:
#propo_of_at_least_one_children *100